@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <script src="../../Scripts/jquery-1.6.2.min.js" type="text/javascript"></script>
    <script src="../../Scripts/js/scrollTo.js" type="text/javascript"></script>

    <script type="text/javascript">
        var MobDuo = {
            endArticleViewed: false,
            endCommentViewed: false,
            bottomAdToggled: false,
            timeBeforeExpand: 3000,

            isScrolledIntoView: function (elem) {
                var docViewTop = $(window).scrollTop();
                var docViewBottom = docViewTop + $(window).height();

                var elemTop = $(elem).offset().top;
                var elemBottom = elemTop + $(elem).height();

                return ((elemBottom >= docViewTop) && (elemTop <= docViewBottom)
                            && (elemBottom <= docViewBottom) && (elemTop >= docViewTop));
            },

            isScrolledOutOfView: function (elem) {
                var docViewTop = $(window).scrollTop();
                var docViewBottom = docViewTop + $(window).height();

                var elemTop = $(elem).offset().top;
                var elemBottom = elemTop + $(elem).height();

                return ((elemBottom >= docViewBottom) && (elemTop >= docViewBottom) || (elemBottom <= docViewTop) && (elemTop <= docViewTop));
            },

            expandAd: function (elem) {
                if (!MobDuo.bottomAdToggled) {
                    $(elem).slideToggle('slow');
                }
                MobDuo.bottomAdToggled = true;
            },

            hideAd: function (elem) {
                if (MobDuo.bottomAdToggled) {
                    $(elem).slideToggle('slow');
                }
                MobDuo.bottomAdToggled = false;
            },

            showEmailForm: function (elem) {
                $('div#emailAdForm').slideToggle('slow');

                setTimeout('scrollToEmail()', 1000);
            }
        }

        $(window).scroll(function () {
            ///Put this back in with ArticleEnd div 
            if (MobDuo.isScrolledIntoView($('div#articleEnd'))) {
                if (!MobDuo.endArticleViewed) {
                    stickArticleEndAd();
                }
                MobDuo.endArticleViewed = true;
            }
            else if (MobDuo.isScrolledOutOfView($('div#articleEnd'))) {
                if (MobDuo.endArticleViewed) {
                    unStickArticleEndAd();
                }
                MobDuo.endArticleViewed = false;
            }

            if (MobDuo.isScrolledIntoView($('div#scrollTo'))) {
                if (!MobDuo.endCommentViewed) {
                    setTimeout('expandBottomAd()', MobDuo.timeBeforeExpand);
                }
                MobDuo.endCommentViewed = true;
            }
            else if (MobDuo.isScrolledOutOfView($('div#footer'))) {
                hideBottomAd();
                MobDuo.endCommentViewed = false;
            }
        });

        function expandBottomAd() {
            MobDuo.expandAd($('div#footer'));

            setTimeout('scrollToFooter()', 1000);

            //$('div#articleEnd').removeClass();
            //$('div#articleEnd').AddClass('hidden');
        }

        function scrollToFooter() {
            var elemTop = $('div#scrollTo').offset().top;
            var elemBottom = elemTop + $('div#scrollTo').height();

            var docViewTop = $(window).scrollTop();
            var docViewBottom = docViewTop + $(window).height();

            $.scrollTo(docViewBottom + elemBottom, 800);

            //$('div#articleEnd').removeClass();
            $('div#articleEnd').addClass('hidden');
        }

        function scrollToEmail() {
            var elemTop = $('div#scrollToEmail').offset().top;
            var elemBottom = elemTop + $('div#scrollToEmail').height();

            var docViewTop = $(window).scrollTop();
            var docViewBottom = docViewTop + $(window).height();

            $.scrollTo(docViewBottom + elemBottom, 800);
        }

        function hideBottomAd() {
            MobDuo.hideAd($('div#footer'));

            $('div#articleEnd').removeClass('hidden');
        }

        function stickArticleEndAd() {
            $('div#articleEnd').removeClass();
            $('div#articleEnd').addClass('articleEndAdFixed');
        }

        function unStickArticleEndAd() {
            $('div#articleEnd').removeClass();
            $('div#articleEnd').addClass('articleEndAd');
        }
    </script>
}
<div id="adContainer">

    <div id="topBanner"><img src="/Ads/flat/MobileBanner.jpg" alt="banner" /></div>

    <div id="content">
    
        <div class="clearBoth"></div>
    
        <div id="article">

            <div id="content">
                <div class="article_desciption">
                    <h1>Microsoft takes on Amazon with Azure Virtual Machines update</h1>
                    <p>
                        <a href="/v3-uk/news/2182818/microsoft-takes-amazon-azure-virtual-machines-update"><img alt="Clouds superimposed on a computer keyboard" src="/img/news.jpg" title="Clouds superimposed on a computer keyboard" class="articleImg" /></a>
                    </p> 
                    <div class="clearBoth"></div>

                    <p>
                        <div class="author">Daniel Robinson | V3 | 07 June 2012 | 16:01 
                        </div>
                    </p>
                </div>
                <div class="article_tag">
                    <p>Azure now enables Windows and Linux workloads to be migrated to the cloud</p>
                </div>
                <div class="article_content">
                    <p>Microsoft has updated its <a href="http://www.windowsazure.com/en-us/" target="_blank" title="Windows Azure">Windows Azure</a> cloud computing services with Infrastructure-as-a-Service (IaaS) capabilities, offering explicit support for running virtual machines, including the ability to migrate workloads to the cloud and securely link Windows Azure with on-premise systems.</p>
                    <p>Available in a preview release from today, the new cloud computing services are designed to make it easier for customers to build applications that span cloud and on-premises servers, adding to Azure's existing platform-as-a-service (PaaS) capabilities.</p>
                    <p>"By combining infrastructure and platform services, these new capabilities of Windows Azure give you greater flexibility in how to build or bring your applications to the cloud," said Bill Laing, Microsoft's vice president for Server and Cloud.</p>
                    <p>The new support for both Windows and Linux-based virtual machine instances running on Azure also puts Microsoft in direct competition with <a href="http://www.v3.co.uk/v3-uk/interview/2169993/amazon-cloud-computing-norm-future" target="_blank" title="Amazon: Cloud computing to be the norm in future">Amazon Web Services</a>, which has offered similar capabilities for almost a decade.</p>
                    <p>Wade Wegner, chief technology officer of Microsoft Azure partner <a href="http://www.aditi.com/" target="_blank" title="Aditi Technologies">Aditi Technologies</a>, said the move will encourage further adoption of Microsoft's cloud computing platform by both enterprises and developers.</p>
                    <p>"Until now, Microsoft has never competed directly with Amazon EC2. The new IaaS and websites capabilities, combined with the ability to extend on-premises networks to the cloud, provides a number of ways that Windows Azure can now distinguish itself from other platforms," he said.</p>
                    <p>This capability comes in <a href="http://www.windowsazure.com/en-us/home/scenarios/virtual-machines/" target="_blank" title="Windows Azure Virtual Machines">Windows Azure Virtual Machines</a>, which enables customers to migrate virtual machine images as VHD files back and forth between on-premises and the cloud.</p>
                    <p>Meanwhile, the Windows Azure Virtual Network provides the link between on-premise and cloud-based infrastructure, allowing customers to provision and manage virtual private networks (VPNs) in Windows Azure as well as securely extend on-premises networks into the cloud</p>
                    <p>This offers administrators control over IP address configuration and routing tables as well as security policies, while linking a customer's corporate network and Windows Azure via an IPsec VPN.</p>
                    <p>Microsoft is also offering low-cost hosting via <a href="http://www.windowsazure.com/en-us/home/scenarios/web-sites/" target="_blank" title="Windows Azure Web Sites">Windows Azure Websites</a>, which provides customers with the ability to develop an "elastic" web presence with easy deployment of web applications like WordPress, Joomla, and Drupal.</p>
                    <p>The Windows Azure SDK is also adding support for the Python programming language, as well as updated support for Java, PHP, and Microsoft's own .Net framework.</p>
                </div>
                <div class="tags_categories">
                    <p>
                        Tags: <a href="/tag/microsoft">Microsoft</a> , <a href="/tag/azure">Azure</a> , <a href="/tag/amazon-web-services">Amazon web services</a>
                    </p>
                    <p>
                        Categories: <a href="/category/cloud-computing">Cloud Computing</a> , <a href="/category/software/virtualisation">Virtualisation</a>
                    </p>
                </div>
            </div>

            <div class="clearBoth"></div>

            <div id="articleEnd" class="articleEndAd"><img src="Ads/flat/MobileBanner.jpg" alt="banner" /></div>
        </div>
    
        <div id="comments">
            <h3>Comments</h3>
        
            <h4>I love Microsoft</h4>
            <p>What a great article</p>

            <h4>Wow</h4>
            <p>I didn't you could do this</p>

            <h4>Cool - This looks really good</h4>
            <p>I'm going to definitley have a look at this. This the future man.</p>

            <h4>Hmm, I didn't know this existed</h4>
            <p>How much does this sort of thing cost?????</p>
        
            <h4>Comment 5</h4>
            <p>I'm a little tea pot short and stout. Here's my handle and here's my spout.</p>

            <h4>Comment 6</h4>
            <p>I'm a little tea pot short and stout. Here's my handle and here's my spout.</p>

            <h4>Comment 7</h4>
            <p>I'm a little tea pot short and stout. Here's my handle and here's my spout.</p>

            <h4>Comment 8</h4>
            <p>I'm a little tea pot short and stout. Here's my handle and here's my spout.</p>
        </div>
    </div>
</div>

<div id="footer" class="hidden">
    <div id="mpu">
        <img src="/Ads/flat/MPU.jpg" alt="MPU" />
    </div>

    <div id="emailAd">
        <div id="shareTools" onclick="MobDuo.showEmailForm()">
            <span><img src="/img/share-white_s3.png" class="left" alt="share image" /></span><span class="shareText">Share</span>
        </div>
        <div class="clearBoth"></div>
        <div id="emailAdForm" class="hidden">
            <h3>Email to a friend, or yourself</h3>
            <p>Email this ad to someone, or to yourself to be viewed later</p>

            <form id="emailForm">
                <p><label for="email">Email: </label><input id="email" name="email" value="" type="text" /><input type="submit" value="send" /></p>
            </form>
        </div>
    </div>
    <div id="scrollToEmail"></div>
</div>

<div id="scrollTo"></div>