@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
<!-- Canvas ad: Cameo(7280) - Flight: Incisive Cameo Mobile Test-(8130869) -->
<script type="text/javascript">
    document.write('<scr' + 'ipt type="text/javascript" charset="utf-8" src="http://adserver.adtech.de/addyn/3.0/1176/3664063/0/0/loc=100;target=_blank;AdId=8130869;BnId=-1;misc=' + new Date().getTime() + ';rdclick="></scri' + 'pt>');
</script>

<script src="../../Scripts/jquery-1.6.2.min.js" />

<script src="../../Scripts/js/mobDuo.js" />

}


<div id="topBanner">
    
</div>

<div>

    <h2>Mob Duo Demonstration</h2>

    <div id="content">
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget dui ipsum. Donec felis augue, consequat ut consequat vel, tempus ac turpis. Mauris et nisl non augue posuere faucibus ac vitae dui. Vivamus euismod, est vitae pulvinar euismod, mi orci varius mi, in porta massa magna ac neque. Donec semper consequat leo eu posuere. Pellentesque tempor nulla justo, quis semper dolor. Pellentesque tincidunt facilisis erat non ornare. Phasellus at est augue, vel euismod libero. Donec malesuada enim mauris, eu scelerisque nunc. Morbi id elit justo, non lobortis sapien. Aenean lorem dui, dignissim et ultrices vel, pharetra sed mauris. Proin non magna eu tellus imperdiet vestibulum non at enim.

        Integer eu nulla enim. Donec laoreet est vitae magna facilisis a interdum odio interdum. Aliquam sed hendrerit felis. Nulla mollis urna eu lectus vulputate pulvinar. Nullam elementum tincidunt interdum. Etiam suscipit libero risus. In pellentesque mi et sapien placerat sodales. Nulla at orci eu nisl tincidunt bibendum. Sed ut nunc et turpis tempus vehicula non ac tortor. Phasellus volutpat lorem id lectus rutrum varius. Vestibulum ornare, turpis ut volutpat adipiscing, neque justo ornare risus, et sodales lectus erat sed arcu. Vivamus congue gravida erat ut cursus. Nunc non erat ac enim congue ullamcorper. Suspendisse potenti.

        Duis et ornare tellus. Morbi sit amet velit id magna facilisis suscipit in at lorem. Praesent mollis hendrerit sapien, id dignissim orci consectetur non. Curabitur faucibus, velit quis faucibus suscipit, tortor turpis consequat magna, quis porta ligula velit in augue. Etiam vitae risus ante, ut mollis nisl. Vivamus sit amet eros ut tortor scelerisque aliquam. Nullam dui purus, placerat fringilla luctus facilisis, volutpat ac massa. Suspendisse vitae purus purus. Vivamus fringilla elementum dignissim. Sed nibh ligula, aliquam a aliquet id, semper at erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec porta, est non ullamcorper auctor, felis diam bibendum nibh, pulvinar tristique nisl est non urna. Proin rutrum, diam ac ultricies blandit, leo neque rutrum lacus, vel bibendum metus odio in magna.

        Nullam placerat arcu id dui pharetra lobortis. Etiam at metus sit amet sapien iaculis sagittis at id orci. Sed tristique, tortor at dignissim pharetra, ante nunc eleifend felis, ut dignissim nibh purus eget dui. Morbi dictum enim nec ligula interdum sit amet molestie arcu vestibulum. Curabitur vitae ornare ante. Quisque porttitor ante vel sem facilisis varius. Maecenas eget mi interdum enim pulvinar porttitor mattis id arcu. Pellentesque eros risus, tempor a lacinia quis, gravida in libero. Fusce aliquet elementum pharetra. Fusce semper fringilla massa, non mollis mi interdum vel.

        Vivamus auctor lacus vitae lacus aliquet iaculis vulputate leo congue. Sed placerat felis eu augue tincidunt in consectetur tellus lacinia. Nunc semper pulvinar lacinia. Mauris id sem at ante blandit tempus. Ut sapien libero, placerat quis molestie eu, placerat non tortor. Nam pellentesque eleifend nibh et tempus. Pellentesque hendrerit fermentum nisl, mollis bibendum orci commodo consectetur. Vivamus mi purus, elementum id semper interdum, eleifend a augue. Cras vestibulum ultrices nisl id commodo. Ut non velit quis nisl rutrum dapibus in sed ipsum. Suspendisse commodo odio a orci condimentum viverra. Integer gravida congue massa, a suscipit leo ornare sed. Proin odio tortor, vehicula eu blandit in, congue sed nulla. Donec a augue quis tortor lobortis faucibus. Sed sed ante urna. Curabitur sit amet purus et libero laoreet interdum eu vitae purus.

        Sed nisl libero, dictum eget ultricies id, pretium quis lacus. Nullam diam massa, gravida in egestas at, consectetur sit amet nisi. Nullam malesuada odio sed dolor sodales consequat. Proin vestibulum porttitor pharetra. Aliquam feugiat rutrum nunc id sodales. Mauris rhoncus posuere tincidunt. Aliquam pharetra, enim vel elementum pharetra, urna libero ullamcorper urna, et auctor felis elit et leo. Nulla et ante mi. Duis mattis vulputate ante vel blandit.

        Etiam eget nisi eu ante gravida semper et nec lorem. Morbi eu interdum libero. Ut lectus leo, pulvinar at luctus eu, imperdiet et nunc. Curabitur eget magna a tellus semper fringilla. Suspendisse id placerat tellus. Pellentesque imperdiet mauris nec justo blandit ultricies. Donec placerat odio vel dui sagittis sit amet fringilla velit fringilla. Suspendisse tincidunt ante cursus tortor gravida mattis. Aenean vitae hendrerit nibh. Duis eu enim orci, in placerat ante. Aenean sagittis ornare tellus posuere egestas. Donec suscipit porta lectus, sed adipiscing nisl placerat in. Vivamus ac ipsum elit, vitae commodo tortor. Aenean semper metus a erat ullamcorper tristique.

        Phasellus commodo consectetur nisi, quis vulputate felis aliquet sit amet. Quisque non mollis nibh. Pellentesque sed viverra quam. Mauris at lacus neque, nec porttitor orci. Fusce quis consequat felis. Aliquam ligula est, sollicitudin a auctor ac, porttitor in leo. Cras euismod iaculis cursus. Morbi sit amet sem vel ipsum mollis tincidunt.

        Sed dolor arcu, aliquam in euismod vel, venenatis id augue. Praesent scelerisque lacinia fermentum. In ipsum nulla, porttitor vulputate tristique eu, accumsan ut tellus. Nullam a dui non nunc rhoncus rhoncus aliquet quis dolor. Etiam eget urna massa, sed blandit lacus. In malesuada, ligula eu lacinia congue, sem augue semper lectus, eget ornare quam magna et elit. Curabitur nec lorem eget nisl aliquam dictum. Aenean luctus mauris non dolor hendrerit auctor. Donec sed metus vel turpis feugiat lobortis congue sed metus.

        Pellentesque sed nunc et odio commodo rhoncus et in est. Mauris in volutpat tortor. Nunc lacinia tortor sit amet arcu varius ac pulvinar lectus accumsan. Cras pretium adipiscing luctus. Vestibulum quam massa, euismod gravida sodales ac, sagittis eu mi. Aenean ipsum lacus, volutpat ac pretium ut, gravida id nunc. Fusce turpis nibh, auctor ut elementum eget, tincidunt quis nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

        Nulla placerat cursus turpis id tempus. In rhoncus risus condimentum ante euismod elementum dignissim neque ultrices. Maecenas dapibus porttitor libero at consequat. In ut turpis in metus aliquet convallis. Duis at urna sit amet nunc egestas porta. Nam id vehicula nunc. Maecenas leo tellus, porttitor et malesuada in, venenatis at dolor.

        Mauris nisi orci, pharetra sit amet blandit vel, pulvinar lacinia nibh. Donec tempus, purus quis porttitor ullamcorper, felis quam pretium leo, sed bibendum sapien sapien sed sapien.     
        </p>
    </div>
</div>

<div id="bottomBanner">
    
</div>