* {
margin: 0;
}
html, body {
height: 100%;
}

body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}


/* Mob Duo */
.clearBoth
{
    clear: both;
    height: 15px;
}

.hidden
{
    display: none;
}

#adContainer, #topBanner, #footer
{
    background-color: #2382AE;
    position: relative;
}

img
{
    display: block; margin-left: auto; margin-right: auto
}

img.articleImg
{
    float: left;
    clear:left;
    margin-top: 8px;
}

#articleEnd {
    z-index: 1;
    text-align: center;
    width: 100%;
    background-color: #2382AE;
}

#content, #comments
{
    margin-left: 12px;
    margin-right: 12px;
}

#comments
{
    padding-bottom: 60px;
}

#comments h3
{
    color: #5AA6C8;
}

#emailAd
{
    margin-left: 60px;
    margin-right: 40px;
    padding: 5px;
    padding-bottom: 10px;
}

#emailAd p, #emailAd h3 
{
    color: White;
}

#content
{
    background-color: White;
}


.articleEndAd {
    width: 320px;
    height: 50px;
    position:relative;
    top: -10px;
    left: 0px;
    z-index: 1;
    margin-bottom: -40px;
}


.articleEndAdFixed {
    width: 320px;
    height: 50px;
    position:fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

#footer
{
    z-index:2;
}

h3
{
    font-size: 1.5em;
}

p
{
    margin-bottom: 10px;
}

.article_tag p
{
    font-weight: bold;
    font-size: 1.2em;
}

.author
{
    color: #666;
}